body {
    background-color: rgb(41, 35, 35);
    color: white;
    padding: 50px;

}
#list {
    font-size: 20px;
}

.button {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(85, 133, 196);
    color: white;
}